body{
    background-image: url(https://media.istockphoto.com/id/519345326/vector/hand-drawn-food-seamless-pattern-sketch-kitchen-doodle.jpg?s=612x612&w=0&k=20&c=at6zyckPjAOAOxAqIGZl1ADtR-lE5YyGn6WTrvXeqpU=);
    font-family: sans-serif;
    padding: 40px;
}

section{
    background-color: rgba(234, 232, 232, 0.759);
    padding:40px;
}
.title{
    text-align: center;
    font-family: serif;
    margin-top:0%;
    margin-bottom: 0%;
    font-size: 40px;
}
h5{
  text-align: center;
  margin-top: 0%;
}

.img{
    width:100%;
    height:auto;
}

figcaption{
    font-size: 14px;
    text-align: center;

}
footer {
    font-size: 14px;
    text-align: center;
  }
  
  .address {
    margin-bottom: 5px;
    font-size:12px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }
  ul{
    object-position: center;
  }

  /*copy from website*/

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
hr {
  height: 1px;
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
  
